.contact {
  margin-top: 70px;
  .social-media {
    text-align: right;
  }
  .contact-title {
    font-size: 24px;
  }

  .phone-number {
    font-size: 28px;
  }
  .mail {
    font-size: 25px;
  }

  .facebook-link {
    display: block;
    position: relative;
    background-color: $social-media-color;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    border-radius: 50%;
    transition: .3s;

    .facebook {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 20px;
    }
  }

  .facebook-link:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    background-color: $social-media-bgc;
    cursor: pointer;
  }

  .linkedin-link {
    display: block;
    position: relative;
    background-color: $social-media-color;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    border-radius: 50%;
    transition: .2s;

    .linkedin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 20px;
    }
  }

  .linkedin-link:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    background-color: $social-media-bgc;
    cursor: pointer;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact {
    .container {
      .contact-title {
        font-size: 20px;
      }
      .row {
        .social-media {
          text-align: right;
        }
      }
      .facebook-link, .linkedin-link {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .contact {
    .container {
      h2 {
        font-size: 26px;
      }
      .contact-title {
        font-size: 20px;
      }
      .phone-number-container {
        margin-top: -30px;
      }
      .row {
        .social-media {
          margin-top: 50px;
          text-align: left;
        }
        .facebook-link {
          position: absolute;
          top: 0;
          left: 15px;
        }
        .linkedin-link {
          position: absolute;
          top: 0;
          left: 80px;
        }
        .social-margin {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .contact {
    .container {
      h2 {
        font-size: 20px;
      }
      .contact-title {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
      .phone-number-container {
        margin-top: -30px;
      }
      .row {
        .social-media {
          margin-top: 30px;
          text-align: left;
        }
        .facebook-link {
          position: absolute;
          top: 0;
          left: 15px;
        }
        .linkedin-link {
          position: absolute;
          top: 0;
          left: 80px;
        }
        .social-margin {
          margin-top: 0;
        }
      }
    }
  }
}
