.experience {
  background-color: $sections-bgc;
  padding-top: 58px;

  .blockquote {
    border-left: 3px solid $blockquote-color;

    p {
      font-size: 1rem;
    }
  }

  .progress {
    height: 6px;
    background-color: darken($sections-bgc, 10%);
    margin-bottom: 38px;
  }

  .progress-bar {
    height: 6px;
    background-color: $progress-bar-color;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .blockquote {
    .row {
      .col-1 {
        padding-right: 10px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .experience {
    .container {
      .row {
        .col-md-5 {
          h4 {
            margin-top: 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .experience {
    padding-top: 55px;
    .container {
      h2 {
        font-size: 26px;
      }
      .row {
        h4 {
          font-size: 20px;
        }
        .col-md-5 {
          margin-top: 20px;
          .row {
            font-size: 14px;
          }
          span, p {
            font-size: 14px;
          }
        }
        .blockquote {
          .row {
            .col-1 {
              padding-right: 10px;
            }
            h5 {
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .experience {
    padding-top: 55px;
    .container {
      h2 {
        font-size: 20px;
      }
      .row {
        h4 {
          font-size: 18px;
        }
        .col-md-5 {
          margin-top: 20px;
          .row {
            font-size: 14px;
          }
          span, p {
            font-size: 14px;
          }
        }
        .blockquote {
          .row {
            .col-1 {
              padding-right: 3px;
            }
            h5 {
              font-size: 16px;
              margin-left: 10px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}