footer {
    background-color: darken(#f8f9fa, 5%);

    .container {
        p {
            margin-bottom: 0;
            color: lighten(#000, 55%);

            span {
                color: #000;
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 576px) {
    footer {
      margin-top: 90px;
    }
}

@media (max-width: 360px) {
  footer {
    margin-top: 70px;
    font-size: 14px;
  }
}