.jumbotron {
  height: 80vh;
  position: relative;
  color: $white;
  margin-bottom: 0;

  .container {
    .jumbotron-bg {
      background-image: url("../../public/images/coding-924920_1920.jpg");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
  }
}

@media (min-width: 360px) and (max-width: 576px) {
  .jumbotron {
    h1 {
      font-size: 36px;
      font-weight: 400;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 359px) {
  .jumbotron {
    h1 {
      font-size: 26px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
    }
  }
}