.projects {
  padding-top: 52px;
  .projects-description {
    font-size: 24px;
    .fa-exclamation-circle {
      font-size: 30px;
    }
    .second-exclamation {
      display: none;
    }
    .readmeTxt {
      display: block;
    }
  }
  .github-link {
    text-decoration: none;
    h4 {
      display: block;

      .github {
        margin-left: 20px;
        font-size: 30px;
      }
    }
  }

  .github-link:hover {
    text-decoration: none;
  }

  .card {
    height: 497.22px;
    .card-body {
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      .fa-angle-right {
        font-size: 24px;
        font-weight: bold;
        margin-right: 5px;
      }
    }

    .card-footer {
      .card-footer-link {
        .card-footer-btn {
          background-color: $white;
          border: 2px solid $black;
          text-transform: uppercase;
          font-size: 12px;
          padding: 8px 15px;
          font-weight: bold;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
          transition: .2s;
          outline: none;
        }

        .card-footer-btn:hover {
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .projects {
    .projects-description {
      font-size: 22px;
      .second-exclamation {
        display: none;
      }
    }
    .card-body {
      span {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .projects {
    .container {
      .github-link {
        h4 {
          font-size: 22px;
        }
      }
      .projects-description {
        font-size: 22px;
        .second-exclamation {
          display: inline;
        }
        .third-exclamation {
          display: none;
        }
        .readmeTxt {
          display: inline;
        }
      }
      .card-body {
        span {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .projects {
    .container {
      .github-link {
        h4 {
          font-size: 16px;
        }
      }
      .projects-description {
        font-size: 16px;
        .second-exclamation {
          display: inline;
        }
        .third-exclamation {
          display: none;
        }
        .readmeTxt {
          display: inline;
        }
      }
      .row {
        .card {
          height: 390px;
          .card-body {
            font-size: 12px;
            padding: 1rem;
            h5 {
              font-size: 14px;
            }
            p {
              font-size: 14px;
            }
            .fa-angle-right {
              font-size: 12px;
            }
          }
          .card-footer {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            .card-footer-link {
              .card-footer-btn {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .projects {
    .container {
      h2 {
        font-size: 26px;
      }
      .github-link {
        h4 {
          font-size: 20px;
        }
      }
      .projects-description {
        font-size: 20px;
        .second-exclamation {
          display: none;
        }
        .third-exclamation {
          display: none;
        }
        .readmeTxt {
          display: inline;
        }
      }
      .row {
        .card {
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .projects {
    .container {
      h2 {
        font-size: 20px;
      }
      .github-link {
        h4 {
          font-size: 14px;
        }
      }
      h4 {
        font-size: 14px;
      }
      .projects-description {
        font-size: 14px;
        .second-exclamation {
          display: none;
        }
        .third-exclamation {
          display: none;
        }
        .readmeTxt {
          display: inline;
        }
        .row {
          .card {
            height: auto;
          }
        }
      }
    }
  }
}