.scroller-navigation {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .4);
  width: 50px;
  border-radius: .125rem 0 0 .125rem;
  ul {
    list-style: none;
    margin: 20px 0;
    .active {
      background-color: #fff;
    }
    .non-active {
      background-color: rgba(255, 255, 255, .54);
    }
    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .54);
      margin-top: 20px;
      margin-left: 22px;
    }
    li:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1250px) {
  .scroller-navigation {
    display: none;
  }
}